
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/RubikGlitchRegular.ttf"); font-family : "Rubik Glitch"; font-weight : 400;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/Baloo-Regular.ttf"); font-family : "baloo"; font-weight : 400;  }
